[submodule "deps/zig-pixman"]
	path = deps/zig-pixman
	url = git@github.com:ifreund/zig-pixman.git
[submodule "deps/zig-wayland"]
	path = deps/zig-wayland
	url = git@github.com:ifreund/zig-wayland.git
[submodule "deps/zig-xkbcommon"]
	path = deps/zig-xkbcommon
	url = git@github.com:ifreund/zig-xkbcommon.git
[submodule "deps/zig-wlroots"]
	path = deps/zig-wlroots
	url = git@github.com:swaywm/zig-wlroots.git
[submodule "deps/plasma-wayland-protocols"]
	path = deps/plasma-wayland-protocols
	url = git@github.com:KDE/plasma-wayland-protocols.git
